<!DOCTYPE html>
<html>
  <head>
    <title>Vocactive</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello-world-bundle' %>
  </head>

  <body>
    <nav class="navbar bg-secondary border-box">
      <div class="w-52 text-white flex">
        <%= link_to collections_path,class: 'navtabs block py-3 mx-1 relative' do %>
          <span class="navtab">首頁(學習集)</span>
        <% end %>
        <%= link_to words_path,class: 'navtabs block py-3 mx-1 relative' do %>
          <span class="navtab">單字</span>
        <% end %>
      </div>
    </nav>
    <%= flash[:notice] %>
    <%= yield %>
    <script>
      document.addEventListener("turbolinks:load",()=>{
        document.querySelectorAll('.navtab').forEach((e)=>{
          if(e.parentElement.href == window.location.href) {
            e.classList.add('active');
          }
        })
      })
    </script>
  </body>
</html>
